<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Đồ_án.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Đồ_án.net.Properties.Settings.Hệ_thống_quản_lý_công_việc_GV_GSConnectionString"
            connectionString="Data Source=THECONQUERER\SUPERUJ;Initial Catalog=Hệ_thống_quản_lý_công_việc_GV_GS;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Đồ_án.net.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>THECONQUERER\SUPERUJ</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Hệ_thống_quản_lý_công_việc_GV_GS</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="displayname" serializeAs="String">
                <value />
            </setting>
        </Đồ_án.net.Properties.Settings>
    </userSettings>
</configuration>